:host {
  display: block;
  width: max-content;
}

:host::part(content) {
  display: none;
  flex-direction: column;
  margin-top: var(--gap-sm);
}

:host([open])::part(content) {
  display: flex;
}

:host::part(container) {
  background-color: var(--background-low-contrast);
  color: var(--text-high-contrast);
  font-size: var(--font-sm);
}
